@import "home.scss";

$bgColor : #777;
$headerColor: #999;
$color : #888; 

body{
	background-color: $bgColor;
}


header {
	color:#999;
	font-size:200px;
}

section {
	color: $color;
	font-size:100px;

	div {
		font-size:150px;
	}
}

footer {
	color: $color;
	font-size:100px;
}